In [14]:
import pandas as pd
df=pd.DataFrame({'s1':[1,2,3,4],'s2':[5,4,3,5]})

g=df.groupby(['s2'])#对df进行分组，返回的是一个对象，可对这个对象执行各种操作
print(g.count()['s1'])

df['s2'].value_counts()  #返回’s2‘列下每个类别元素的个数

s2
3    1
4    1
5    2
Name: s1, dtype: int64

5    2
3    1
4    1
Name: s2, dtype: int64

In [23]:
print(df.as_matrix())  #as_matrix()     可以将DataFrame数据和Series转换成numpy二维数组。
print(df['s1'].as_matrix().shape)
type(df.as_matrix())

[[1 5]
 [2 4]
 [3 3]
 [4 5]]
<class 'pandas.core.series.Series'>
(4,)

numpy.ndarray

In [30]:
df['s1'].reshape((1,-1)).shape     #Series 类型数据，可以通过reshape操作，转换成numpy二维数组

(1, 4)

In [37]:
print df.s1.isnull() 
print df.s2.notnull() #一列是否为空的布尔表达式。可以和以下方式联用进行取值
df.loc[(df.s1.notnull()),'s1']

0    False
1    False
2    False
3    False
Name: s1, dtype: bool
0    True
1    True
2    True
3    True
Name: s2, dtype: bool

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [38]:
pd.get_dummies(df['s2'],prefix='s2')
#one-hot编码，将离散值变成one-hot编码特征。
#第一个参数是需要编码的那一列，第二个参数是新特征名字的前缀
pd.concat([DataFrame1,DataFrame2,DataFrame3....])
#将多个pandas数据连接起来，常用于将one-hot编码之后的特征连接起来

   s2_3  s2_4  s2_5
0     0     0     1
1     0     1     0
2     1     0     0
3     0     0     1

In [ ]:
df.drop(['column1',...],axis=1,inplace=True)
#删除指定的列，inplace=True,表示直接对df进行删除。

In [ ]:
df_filt=df.filter(regex='s*|s1')
#筛选出符合正则表达式的列，然后组成一个新的DataFrame

In [44]:
df.s1.map(str)+'_'+df.s2.map(str)
#将一列变成字符串的。df.s1.map(s1)，然后连接两列，这样可以组成一个新的特征列

0    1_5
1    2_4
2    3_3
3    4_5
dtype: object

## apply()对每个元素调用函数处理

In [47]:
def add4(s1):
    return s1+4
df['s1'].apply(add4)

0    5
1    6
2    7
3    8
Name: s1, dtype: int64

In [48]:
range(30,50,2)

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48]